.site-footer {
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-content: flex-start;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    justify-content: flex-end;
  }
}

.page_item {
  padding: 0 10px;
  border-right: 1px solid #ffffff;
  &:nth-last-child() {
    border-right: none;
  }
}

.author {
  margin: 0;
  padding-left: 10px;
  display: flex;
  a {
    padding-left: 5px;
  }
}
