body {
  font-size: 16px;
  font-family: 'exo-light';
}

.site-description {
  display: none;
}

button {
  border: 1px solid #00cc00;
  color: #00cc00;
  background: #222222;
  box-shadow: none;
  text-shadow: none;
  height: 45px;
  width: 210px;
  padding: 12px 25px;
  font-size: 1.2rem;
  margin-left: 15px;
  &:hover {
    box-shadow: none;
    border: 1px solid #00cc00;
  }
  @include desktop {
    justify-content: center;
    margin: auto;
  }
}

a {
  color: #00cc00;
  text-decoration: none;
  &:hover {
    color: #00cc00;
  }
  &:visited {
    color: #00cc00;
  }
}

.entry-title {
  @include desktop {
    align-items: center;
  }
}
.entry-meta {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.site-content {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.site-main {
  @include desktop {
    display: flex;
    flex-direction: column;
  }
}

.source {
  font-size: 1rem;
}
