body {
  font-size: 16px;
  font-family: 'exo-light';
}

.site-description {
  display: none;
}

button {
  border: 1px solid #00cc00;
  color: #00cc00;
  background: #222222;
  box-shadow: none;
  text-shadow: none;
  height: 45px;
  width: 210px;
  padding: 12px 25px;
  font-size: 1.2rem;
  margin-left: 15px;
  &:hover {
    box-shadow: none;
    border: 1px solid #00cc00;
  }
  @include desktop {
    justify-content: center;
    margin: auto;
  }
}

a {
  color: #00cc00;
  text-decoration: none;
  &:hover {
    color: #00cc00;
  }
  &:visited {
    color: #00cc00;
  }
}

.entry-title {
  @include desktop {
    align-items: center;
  }
}
.entry-meta {
  display: flex;
  align-items: center;
  h2 {
    font-size: 1.25rem;
  }
}

.site-content {
  @include desktop {
    display: flex;
    justify-content: center;
    &::before {
      background: '<i class="fas fa-quote-left"></i>';
      z-index: 10;
    }
    &:after {
      background: '<i class="fas fa-quote-right"></i>';
      z-index: 10;
    }
  }
}

.site-main {
  @include desktop {
    display: flex;
    flex-direction: column;
  }
}

.flex-container {
  @include desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

i.outer-quotes {
  display: none;
  @include desktop {
    color: #00cc00;
    display: block;
    padding: 0 40px;
  }
}

.hfeed {
  @include desktop {
    margin: 0 25%;
  }
}
