// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin desktop {
  @media all and (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: $tablet-width) {
    @content;
  }
}
