input.search-field {
  background: #222222;
  color: white;
  border: 1px solid #00cc00;

  &:focus {
    color: white;
    border: 1px solid #ffffff;
  }
}

.search-submit {
  border: none;
  padding: 0;
  width: 20px;
  height: auto;
  &:hover {
    border: none;
  }
}

.error-field {
  border: none;
}

.search-icon {
  color: #00cc00;
}
