form {
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 100vh;
  }
}
.q-field {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  &:nth-child(1) {
    margin-top: 0;
  }
}

input[type='submit'] {
  border: 1px solid #00cc00;
  color: #00cc00;
  background: #222222;
  box-shadow: none;
  text-shadow: none;
  height: 45px;
  width: 210px;
  padding: 12px 25px;
  font-size: 1.2rem;
  margin-top: 80px;
  &:hover {
    box-shadow: none;
    border: 1px solid #00cc00;
  }
  @include desktop {
    justify-content: center;
  }
}

input.type-here {
  background: #222222;
  border: 1px solid #00cc00;
  width: 240px;
  color: #ffffff;
  &:focus {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

textarea.insert-quote {
  width: 90%;
  height: 100px;
  background: #222222;
  border: 1px solid #00cc00;
  color: #ffffff;
  &:focus {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.submit-label {
  padding-bottom: 20px;
}

.error-msg {
  color: red;
  display: none;
}
