.archive .outer-quotes {
  display: none;
}

.archive .flex-container {
  border-bottom: 1px dotted #ffffff;
  padding-top: 20px;
}

.archive-wrap {
  @include desktop {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

i.outer-quotes-archive {
  display: none;
  @include desktop {
    color: #00cc00;
    display: block;
    padding: 0 40px;
    font-size: 115px;
  }
}

.archive .page-title {
  border-bottom: 1px dotted #ffffff;
  padding-bottom: 20px;
}
